<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Accept</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="" class="form-label">Name</label>
              <input class="form-control" id="name" name="name" />
              <div id="emailHelp" class="form-text">
                We'll never share your Name with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id=" email"
                name="email"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your Email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Phone</label>
              <input class="form-control" id=" phone" name="phone" />
              <div id="emailHelp" class="form-text">
                We'll never share your Phone with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">About You</label>
              <textarea
                class="form-control"
                id=" summary"
                name="summary"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your Summary with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Degree</label>
              <textarea
                class="form-control"
                id=" degree"
                name="degree"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your Degree with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">School</label>
              <textarea
                class="form-control"
                id=" school"
                name="school"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your School with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">University</label>
              <textarea
                class="form-control"
                id=" university"
                name="university"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your University with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Previous Work</label>
              <textarea
                class="form-control"
                id=" previous_work"
                name="previous_work"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your University with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Skills</label>
              <textarea
                class="form-control"
                id=" skills"
                name="skills"
              ></textarea>
              <div id="emailHelp" class="form-text">
                We'll never share your Skills with anyone else.
              </div>
            </div>
            <!-- Button -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
