<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
  </head>
  <body>
      <p>Profile</p>
    <h2>{{profile.name}}</h2>
    <h2>{{profile.email}}</h2>
    <h2>{{profile.phone}}</h2>
    <hr />
    <br />
    <p>Summary</p>
    <p>{{profile.summary}}</p>
    <hr />
    <br />
    <p>Education</p>
    <p>{{profile.university}}</p>
    <ul>
        <li>Degree: {{profile.degree}}</li>
    </ul>
    <hr />
    <br />
    <p>Skills</p>
    <ul>
      <li>{{profile.skills}}</li>
    </ul>
  </body>
</html>
